[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/home/smartass08/F_Whatsapp
RuntimeMaxSec=43200
# Remove old containers, images and volumes
ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv
ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=%i_" | xargs docker volume rm'
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=%i_" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=%i_*" | xargs docker rm'

# Compose up
ExecStart=/usr/local/bin/docker-compose up --build --abort-on-container-exit

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose down -v
ExecStop=/usr/local/bin/docker image prune -af

[Install]
WantedBy=multi-user.target
